@echo off
chcp 65001 >NUL

set "AWS_ACCESS_KEY_ID="
set "AWS_SECRET_ACCESS_KEY="
set "RESTIC_REPOSITORY=s3:"
set "RESTIC_PASSWORD="
set "RESTIC_CACHE_DIR="
set "RESTIC_HOST="

set GOMAXPROCS=2

cd /d C:\
python "%~dp0backupd.py" >> "%~dp0backupd.log" 2>> "%~dp0backupd_error.log"